<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>POC Gestion Prio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />

</head>
<body>
	<div class="container" style="padding-top: 5%;">
		<h2>Créer un objectif</h2>
		<form action="/newEmployeePrio" method="post" th:object="${priorite}">

			<input id="matricule" name="matricule" type="hidden"
				th:field="*{matricule}" />

			<div class="form-group">
				<label for="title">Titre</label> <input class="form-control"
					th:field="*{titre}" aria-describedby="emailHelp"
					placeholder="Enter title" />
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" rows="5" th:field="*{description}"></textarea>
			</div>
			<div class="form-group">
				<label for="datetimepicker1">date de fin</label>
				<div class='input-group date'>
					<input type='text' th:field="*{dateFin}" class="form-control" /> <span
						class="input-group-addon"> <span
						class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<!-- Latest compiled and minified JavaScript -->

		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>

		<!-- jQuery library -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script type="text/javascript">
            $(function () {
                $('#dateFin').datetimepicker();
            });
        </script>

	</div>


	<div class="container">
		<h2>List des objectifs</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Date de fin</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t : ${team}">
					<td th:text="${t.nom}"></td>
					<td th:text="${t.prenom}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>